﻿@model List<AGLTest.Models.GroupedCats>
<div class="col-md-4">
    @{
        ViewBag.Title = "AGL Test Home Page";
    }
    <ul>
        @if (Model != null)
        {
            foreach (var people in Model)
            {
                <h1>@people.OwnerGender</h1>
                foreach (var cat in people.CatNames)
                {
                    <li>@cat</li>
                }
            }
        }
    </ul>
</div>
